*,
*::after,
*::before {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
$fontHind: 'Hind Siliguri', sans-serif;
body {
  max-width: 1400px;
  margin: 0  auto;
  font-family: $fontHind;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
header {
  background-color: #373A3C;
}
.container {
  margin: 0 11.57% 0 11.35%;
}
.navHeader {
  border-radius: 4px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.75em;
  .header__logo {
    width: 6em;
    height: 1.81em;
  }
  .header__control {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    width: 42.81em;
  }
  input {
    width: 13.11em;
    height: 2.37em;
    padding-left: 15px;
  }
  li {
    color: rgba(255, 255, 255, 0.5);
    transition: .3s;
  }
  li:hover {
    color: #FFF;
  }
  a {
    padding-left: 0.501em;
    color: rgba(255, 255, 255, 0.5);
    transition: .3s;
  }
  a:hover {
    color: #FFF;
  }
}
#main__button-top {
  padding-left: 0;
  padding-right: 0.501em;
}
.header__content {
  background: url(../images/header-starWars.jpg) center no-repeat;
  background-size: cover;
  width: 100%;
}
.header__title {
  padding-top: 8.87em;
  padding-left: 58.35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #FFF;
  .item1 {
    margin: 0;
    font-size: 4.25em;
    line-height: 2.63em;
    animation:pulse 1s infinite alternate;
  }
  .item2 {
    margin: 0;
    position: absolute;
    padding-top: 2.68em;
    font-size: 2.5em;
    line-height: 1.75em;
    animation:pulse 1s infinite alternate;
  }
  @keyframes pulse {
    from { text-shadow: 1px 1px 10px red, 0 0 1em blue, 0 0 0.2em blue; }
    to { text-shadow: 1px 1px 40px red, 0 0 4em blue, 0 0 0.5em blue; }
  }
}
.header__trigger {
  margin-top: .18em;
  margin-left: 5%;
  height: 100%;
  .header__item-trigger2 {
    padding-left: 90%;
  }
}
.header__button {
  
}
